.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0b2545;
}

.auth-card {
  width: 350px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card form {
  display: flex;
  flex-direction: column;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #0b2545;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-card button:hover {
  background: #13386c;
}

.link {
  margin-top: 10px;
  text-align: center;
  color: #0b2545;
  cursor: pointer;
  text-decoration: underline;
}
